$blue: rgb(0 122 190); /* #007ABE */
$dark: #000000; /* #000000 */
$muted: rgb(81 102 122); /* #51667A */
$red: rgb(232 20 69); /* #e81445 */
$dark-base: rgb(8 28 49); /* #081c31 */
$gray-30: rgb(163 179 194); /* #A3B3C2 */
$white: #ffffff; /* #A3B3C2 */
$gray-middle: rgb(131 151 171); /* #8397AB */
